/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container {
  margin: 0 auto;
  text-align: center;
  width: 960px;
}

section.products {
  margin: 0;
  padding: 0;
  text-align: center;
}

section.products article {
  display: inline-block;
  width: 300px;
  margin: 0;
  padding: 0;
}

section.products article img {
  width: 300px;
  padding: 0;
  margin: 0;
}