<% if cookies[:email] %>
  <%= link_to "Log Out", log_out_path, method: 'post' %>
<% else %>
  <%= link_to "Log In", log_in_path %>
<% end %>

<section class="products">
  <% @products.each do |product| %>
    <article>
      <%= image_tag product.image_url %>
      <h2><%= product.name %></h2>
    </article>
  <% end %>
</section>